@import 'tailwindcss';


/* Import the Google Font for the text style */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@layer utilities {
  .text-white-outline {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #000; /* Ensure body background is black */
}