@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Barlow', sans-serif;
    background-color: #000; 
  }
}

@layer utilities {
  .text-white-outline {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

.distort-link span {
  transition: transform 0.1s linear;
}